## Q1.

This encoding technique appears almost similar to Label Encoding. But, label encoding would not consider whether a variable is ordinal or not, but in the case of ordinal encoding, it will assign a sequence of numerical values as per the order of data.

## Q2.

There are specifically two types of guided encoding techniques for categorical features, namely â€“ target guided ordinal encoding & mean guided ordinal encoding.

## Q3.

Covariance is a statistical tool used to determine the relationship between the movements of two random variables. When two stocks tend to move together, they are seen as having a positive covariance; when they move inversely, the covariance is negative.

## Q4.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Color': ('red', 'green', 'blue'),'Size': ('small', 'medium',
'large'), 'Material': ('wood', 'metal', 'plastic')})

In [3]:
df

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [4]:
## label encoding for color . for material and size its better to used ordinal.

In [6]:
from sklearn.preprocessing import LabelEncoder

lbl_encoder=LabelEncoder()

encoded = lbl_encoder.fit_transform(df[['Color']]) ## one feature at a time . 

encoder_df=pd.DataFrame(encoded,columns=['color_label'])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [7]:
encoder_df

   color_label
0            2
1            1
2            0

In [8]:
## now for material and size .

In [10]:
## ORdinal Encoding
from sklearn.preprocessing import OrdinalEncoder

## create an instance of ORdinalEncoder and then fit_transform
encoder=OrdinalEncoder(categories=[['small','medium','large']])

encoded = encoder.fit_transform(df[['Size']])

encoder_df_2=pd.DataFrame(encoded,columns=['Size_ordinal'])

In [11]:
from sklearn.preprocessing import OrdinalEncoder

## create an instance of ORdinalEncoder and then fit_transform
encoder=OrdinalEncoder(categories=[['plastic','wood','metal']])

encoded = encoder.fit_transform(df[['Material']])

encoder_df_3=pd.DataFrame(encoded,columns=['Material_ordinal'])

In [12]:
pd.concat([df,encoder_df,encoder_df_2,encoder_df_3],axis=1)

   Color    Size Material  color_label  Size_ordinal  Material_ordinal
0    red   small     wood            2           0.0               1.0
1  green  medium    metal            1           1.0               2.0
2   blue   large  plastic            0           2.0               0.0

## Q5.

Step 1: Find the mean of one variable (X). ...
Step 2: Subtract the mean from all observations; (92 - 84), (60 - 84), (100 - 84)
Step 3: Take the sum of the squares of the differences obtained in the previous step.

## 6.

1. Gender - OHE
2. "Education Level" - Ordinal 
3. "Employment Status" - Ordinal

## 7.

In [23]:
df = pd.read_excel('marks.xlsx')

In [24]:
df

,Station.Location,Station.State,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
0,Station.Location,Alabama,39,46,32,33,4.33
1,"Huntsville, AL",Alabama,39,47,31,32,3.86
2,"Mobile, AL",Alabama,46,51,41,35,9.73
3,"Montgomery, AL",Alabama,45,52,38,32,6.86
4,"Anchorage, AK",Alaska,34,38,29,19,7.80
5,"Annette, AK",Alaska,38,44,31,9,8.70
6,"Bethel, AK",Alaska,30,36,24,9,16.46
7,"Bettles, AK",Alaska,22,32,9,2,3.10
8,"Cold Bay, AK",Alaska,34,36,31,20,9.10
9,"Cordova, AK",Alaska,38,43,33,9,9.76
10,"Delta Junction/Ft Greely, AK",Alaska,31,39,23,14,17.90
11,"Fairbanks, AK",Alaska,14,30,4,2,2.20
12,"Gulkana, AK",Alaska,27,34,19,14,8.23
13,"Homer, AK",Alaska,39,42,35,9,11.26
14,"Iliamna, AK",Alaska,40,42,37,9,19.76
15,"Juneau, AK",Alaska,36,40,31,10,9.23
16,"Kenai, AK",Alaska,34,37,30,6,11.20
17,"Ketchikan, AK",Alaska,37,41,33,15,6.16
18,"King Salmon, AK",Alaska,39,42,35,10,18.83

In [25]:
df.cov()

/tmp/ipykernel_77/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

,Data.Temperature.Avg Temp,Data.Temperature.Max Temp,Data.Temperature.Min Temp,Data.Wind.Direction,Data.Wind.Speed
Data.Temperature.Avg Temp,58.362573,41.049708,70.456140,49.979532,11.070380
Data.Temperature.Max Temp,41.049708,34.801170,45.786550,46.470760,1.681257
Data.Temperature.Min Temp,70.456140,45.786550,89.093567,53.002924,18.128596
Data.Wind.Direction,49.979532,46.470760,53.002924,110.730994,-13.284766
Data.Wind.Speed,11.070380,1.681257,18.128596,-13.284766,27.382565